html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

@font-face {
  font-family: 'cinzel';
  src: url("../fonts/cinzel/Cinzel-Regular.otf"); }
@font-face {
  font-family: 'josefin';
  src: url("../fonts/Josefin_Sans/JosefinSans-Regular.ttf"); }
html, body {
  padding: 0px;
  margin: 0px;
  font-family: 'josefin'; }

body::-webkit-scrollbar {
  display: none; }

div::-webkit-scrollbar {
  display: none; }

/**
 * Basic styles for links
 */
a {
  text-decoration: none;
  color: #87CBAC; }

/**
 * Basic typography style for copy text
 */
.backgroundWrapper {
  display: flex; }

.spaceOne {
  background: url("../img/clouds.jpg") no-repeat center center fixed;
  background-position: bottom;
  height: 100vh;
  width: 55%;
  text-align: right;
  transition: all 1s ease-in-out;
  display: flex;
  flex-direction: column; }
  .spaceOne h1 {
    font-size: 70px;
    color: #F5F5F5;
    font-weight: lighter;
    letter-spacing: 3px;
    margin: 300px 10px 0px 0px;
    font-family: 'cinzel'; }
  .spaceOne .navigation {
    position: relative;
    top: 30%;
    right: 10%; }
    .spaceOne .navigation .links {
      display: inline;
      margin: 10px;
      color: #F5F5F5;
      transition: all 300ms ease-in-out; }
      .spaceOne .navigation .links:hover {
        cursor: pointer;
        border-bottom: 1px solid #F5F5F5;
        transition: all 1s linear; }

.notClicked .navigation .links {
  display: block; }

.spaceTwo {
  height: 100vh;
  width: 25%;
  overflow: scroll;
  background: #F5F5F5;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  transition: all 1s ease-in-out; }
  .spaceTwo h1 {
    font-size: 60px;
    color: black;
    font-weight: lighter;
    letter-spacing: 3px;
    margin: 310px 0px 0px 5px;
    font-family: "cinzel"; }
  .spaceTwo p {
    width: 90%;
    line-height: 19px;
    margin-left: 10px; }
  .spaceTwo .projects {
    margin-bottom: 11%; }
    .spaceTwo .projects h1 {
      margin-top: 0; }
  .spaceTwo .projectItem {
    z-index: 3;
    margin-top: 200px;
    padding-right: 20px;
    display: flex; }
    .spaceTwo .projectItem .projectNumbers {
      width: 60vw;
      text-align: right; }
      .spaceTwo .projectItem .projectNumbers h1 {
        font-size: 70px; }
    .spaceTwo .projectItem .projectDescription h1 {
      margin-top: 100px;
      color: #87CBAC; }
    .spaceTwo .projectItem .projectMedia {
      padding-left: 20px; }
      .spaceTwo .projectItem .projectMedia .projectImage {
        margin-right: 10%;
        background: gray;
        height: 300px;
        width: 400px; }

.spaceThree {
  height: 100vh;
  width: 20%;
  transition: all 1s ease-in-out;
  background-image: linear-gradient(rgba(245, 245, 245, 0.7), rgba(245, 245, 245, 0.7)), url("../img//taylorlowsat.jpg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover; }

.clicked {
  width: 70% !important;
  transition: all 1s ease-in-out; }

.notClicked {
  width: 15% !important;
  transition: all 1s ease-in-out; }
  .notClicked h1 {
    color: transparent; }
  .notClicked p {
    color: transparent; }

.hidden {
  display: none; }

.viewCaseStudy {
  color: #87CBAC;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
  border: 1px solid #87CBAC;
  border-radius: 50%;
  transition: all 300ms ease-in-out; }
  .viewCaseStudy:hover {
    height: 120px;
    width: 120px;
    transition: all 300ms ease-in-out; }

.logo {
  position: absolute;
  top: 170px;
  left: 40%;
  height: 125px;
  transition: all 1s ease-in-out; }
  .logo:hover {
    cursor: pointer; }

.logoMoved {
  left: 3% !important;
  transition: all 1s ease-in-out; }

.logoMoved2 {
  left: 17% !important;
  height: 50vh;
  transition: all 1s ease-in-out;
  opacity: .7;
  z-index: 0; }

.plusIcon {
  height: 60px;
  position: relative;
  left: 70%;
  top: -20px; }

/*# sourceMappingURL=main.css.map */
