// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------


// Paths

$path-img: '../img/';
$path-font: '../fonts/';

// Colors

$cream: #F5F5F5;
$black: black;
$green: #87CBAC;
$darkgray: #4A4A4A;
