// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------


// Paths

$path-img: '../img/';
$path-font: '../fonts/';

// Colors

$cream: #F5F5F5;
$black: #4A4A4A;
$green: #87CBAC;
$darkgray: #4A4A4A;
$gold: #8C7036;


// Media Queries

$brk-medium: "(max-width: 1170px)";
$brk-medHeight: "(max-height: 700px)";
$brk-tablet: "(max-width: 900px)";
