.backgroundWrapper {
  display: flex;
  @media screen and #{$brk-small} {
    flex-direction: column;
  }
}

.spaceOne {
  background: url('#{$path-img}clouds.jpg') no-repeat center center fixed;
  background-position: bottom;
  height: 100vh;
  width: 55%;
  text-align: right;
  transition: all 1s ease-in-out;
  overflow: scroll;
  @media screen and #{$brk-small} {
    width: 100%;
  }
  @include flexbox($direction: column);
  h1 {
    @include textFormat(70px, $cream, lighter, 3px);
    margin: 300px 10px 0px 0px;
    font-family: 'cinzel';
  }
  .contactInfo {
    color: $cream;
    padding-right: 20px;
  }
  .navigation {
    position: relative;
    bottom: -30%;
    // left: 20%;
    @media screen and #{$brk-medHeight} {
      bottom: -10%;
      text-align: center;
    }
    @media screen and #{$brk-tablet} {
      text-align: left;
    }


    .links {
      display: inline;
      font-size: 18px;
      margin: 10px;
      color: $cream;
      transition: all 300ms ease-in-out;
      &:hover {
        cursor: pointer;
        border-bottom: 1px solid $cream;
        transition: all 1s linear;
      }
      @media screen and #{$brk-small} {
        display: inline;
      }
    }
  }
}

.notClicked {
  .navigation .links {
    display: block;
    @media screen and #{$brk-small} {
      display: inline;
    }
  }
  .spaceOne {
    @media screen and #{$brk-small} {
      border: 1px solid cyan;
      position: absolute;
      bottom: 1px;
    }
  }
}



.spaceTwo {
  height: 100vh;
  width: 25%;
  overflow: scroll;
  background: $cream;
  background-attachment: fixed;
  @include flexbox($direction: column);
  transition: all 1s ease-in-out;
  @media screen and #{$brk-small} {
    width: 100%;
  }
  h1 {
    @include textFormat(60px, $black, lighter, 3px);
    margin: 310px 0px 0px 5px;
    font-family: 'cinzel'
  }
  p {
    width: 90%;
    @include textFormat($l-height: 19px);
    margin-left: 10px;
  }
  .projects{
    h1 {
      margin-top: 0;
    }
    margin-bottom: 11%;
  }
  .projectItem {
    height: 70vh;
    margin-top: 200px;
    transition: all 500ms ease-in-out;
    @media screen and #{$brk-medHeight} {
      margin-top: 120px;
    }
    @media screen and #{$brk-medium} {
      flex-wrap: wrap;
      align-items: center;
      text-align: center;
      height: auto;
      margin-top: 50px;
      justify-content: center;
      transition: all 500ms ease-in-out;
    }
    padding-right: 20px;
    @include flexbox();
    .projectNumbers {
      width: 40vw;
      text-align: right;
      @media screen and #{$brk-medium} {
        text-align: left;
      }
      h1 {
        font-size: 70px;
      }
    }
    .projectDescription {
      h1 {
        margin-top: 100px;
        color: $gold;
        @media screen and #{$brk-medium} {
          margin-top: 50px;
        }
      }
    }
    .projectMedia {
      padding-left: 20px;
      .projectImage {
        margin-right: 20%;
        background-size: cover;
        height: 300px;
        width: 400px;
      }
      #image1 {
        background-image: url("#{$path-img}/songlabRedesign.png");
      }
      #image2 {
        background-image: url("#{$path-img}/profile1.png");
      }
      #image3 {
        background-image: url("#{$path-img}/browse1.png");
      }
      #image4 {
        background-image: url("#{$path-img}/old.png");
      }
      #image5 {
        background-image: url("#{$path-img}/movrhome.png");
      }
      #image6 {
        background-image: url("#{$path-img}/movrpost.png");
      }
      #image7 {
        background-image: url("#{$path-img}/movrdetail.png");
      }
      #image8 {
        background-image: url("#{$path-img}/openmoves.png");
      }
      #image9 {
        background-image: url("#{$path-img}/bidderhome.png");
      }
      #image10 {
        background-image: url("#{$path-img}/postbid.png");
      }
      #image11 {
        background-image: url("#{$path-img}/offerjob.png");
      }
      #image12 {
        background-image: url("#{$path-img}/jobboard.png");
      }
      #image13 {
        background-image: url("#{$path-img}/yerbahome.png");
      }
      #image14 {
        background-image: url("#{$path-img}/yerbacategories.png");
      }
      #image15 {
        background-image: url("#{$path-img}/yerbaproducts.png");
      }
      #image16 {
        background-image: url("#{$path-img}/yerbacart.png");
      }
      #image17 {
        background-image: url("#{$path-img}/angularfood.png");
      }
      #image18 {
        background-image: url("#{$path-img}/angulartap.png");
      }
      #image19 {
        background-image: url("#{$path-img}/responsive.png");
      }
      #image20 {
        background-image: url("#{$path-img}/responsive2.png");
      }
      .projectActions {
        @include flexbox($justify: space-around);
      }
    }
  }
}

.spaceThree {
  height: 100vh;
  width: 20%;
  transition: all 1s ease-in-out;
  background-image: linear-gradient(rgba($cream, 0.70),
    rgba($cream, 0.7)),url("#{$path-img}/taylorlowsat.jpg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  overflow: scroll;
  @media screen and #{$brk-small} {
    width: 100%;
  }
  .aboutTaylor {
    width: 52%;
    margin: 50vh 0 0 40px;
    transition: all 500ms ease-in-out;
    @media screen and #{$brk-medHeight} {
      margin: 30vh 0 0 40px;
    }
    @media screen and #{$brk-small} {
      width: 80%;
    }
    @media screen and #{$brk-tablet} {
      margin: 10vh 0 0 40px;
    }
    h3 {
      @include textFormat(20px);
    }
    p {
      @include textFormat(17px, $l-height: 17px);
    }
  }
}

.clicked{
  width: 70% !important;
  transition: all 1s ease-in-out;
  @media screen and #{$brk-small} {
    width: 100% !important;
    height: 80vh;
  }
}

.notClicked {
  width: 15% !important;
  transition: all 1s ease-in-out;
  @media screen and #{$brk-small} {
    width: 100% !important;
    height: 10vh;
  }
  h1 {
    color: transparent;
  }
  p {
    color: transparent;
  }
}

.hidden {
  display: none;
}

/* ----------------------- Styles for Case Study -------*/

.caseStudyWrapper {
  @include flexbox($direction: column, $align: center);
  color: $darkgray;
  width: 80%;
  margin: 0 auto;
  .caseItem {
    margin: 5%;
  }
  h1 {
    font-family: 'cinzel';
    color: $gold;
  }
  p {
    font-size: 18px;
  }
  .tagline {
    text-align: center;
  }
  .lead {
    font-size: 21px;
  }
  .timeline {
    color: $gold;
    margin: 3% auto 6% auto;
    text-align: center;
    border: 2px solid $gold;
    width: 250px;
    padding: 15px 0 10px 0;
  }
}

.goals {
  @include flexbox($justify: space-around);
  .goal {
    width: 30%;
    text-align: center;
  }
}

.oldLogo {
  font-family: sans-serif !important;
  color: $darkgray !important;
}

.processWrapper {
  @include flexbox($direction: column, $justify: space-between);
  // .detailItem {
  //   text-align: center;
  //   @include flexbox($direction: column, $justify: space-between, $align: center);
  //   width: 90%;
  //   .processImg {
  //     width: 100%;
  //     height: 200px;
  //     border: 1px solid $gold;
  //   }
  // }
}

.processItem {
  margin: 3% 0 3% 0;
  @include flexbox();
  .processText {
    padding: 2%;
    @include flexbox($direction: column, $justify: center);
    width: 30%;
  }
  .processImages {
    text-align: center;
    width: 70%;
    .colorPalette {
      width: 100%;
      height: 40px;
      @include flexbox();
      .color {
        width: 20%;
        height: 100%;
      }
      #color1 {
        background:#333333;
      }
      #color2 {
        background:#444444;
      }
      #color3 {
        background:#8D7131;
      }
      #color4 {
        background:#98B7AB;
      }
      #color5 {
        background:#F4F4F4;
        border: 1px solid lightgrey;
      }
    }
    img.processCollage {
      width: 100%;
      min-width: 500px;
    }
  }
}

.pages {
  text-align: center;
  @include flexbox($direction: column, $justify: center, $align: space-around);
  .page {
    margin: 6% 0 6% 0;
    img {
      max-width: 100%;
    }
  }
  .firstpage {
    display: flex;
  }
}
