.backgroundWrapper {
  display: flex;
}

.spaceOne {
  background: url('#{$path-img}clouds.jpg') no-repeat center center fixed;
  background-position: bottom;
  height: 100vh;
  width: 55%;
  text-align: right;
  transition: all 1s ease-in-out;
  @include flexbox($direction: column);
  h1 {
    @include textFormat(70px, $cream, lighter, 3px);
    margin: 300px 10px 0px 0px;
    font-family: 'cinzel';
  }
  .navigation {
    position: relative;
    top: 30%;
    right: 10%;

    .links {
      display: inline;
      margin: 10px;
      color: $cream;
      transition: all 300ms ease-in-out;
      &:hover {
        cursor: pointer;
        border-bottom: 1px solid $cream;
        transition: all 1s linear;
      }
    }
  }
}

.notClicked {
  .navigation .links {
    display: block;
  }
}


.spaceTwo {
  height: 100vh;
  width: 25%;
  overflow: scroll;
  background: $cream;
  background-attachment: fixed;
  @include flexbox($direction: column);
  transition: all 1s ease-in-out;
  h1 {
    @include textFormat(60px, $black, lighter, 3px);
    margin: 310px 0px 0px 5px;
    font-family: 'cinzel'
  }
  p {
    width: 90%;
    @include textFormat($l-height: 19px);
    margin-left: 10px;
  }
  .projects{
    h1 {
      margin-top: 0;
    }
    margin-bottom: 11%;
  }
  .projectItem {
    z-index: 3;
    margin-top: 200px;
    padding-right: 20px;
    @include flexbox();
    .projectNumbers {
      width: 60vw;
      text-align: right;
      h1 {
        font-size: 70px;
      }
    }
    .projectDescription {
      h1 {
        margin-top: 100px;
        color: $green;
      }
    }
    .projectMedia {
      padding-left: 20px;
      .projectImage {
        margin-right: 10%;
        background: gray;
        height: 300px;
        width: 400px;
      }
    }
  }
}

.spaceThree {
  height: 100vh;
  width: 20%;
  transition: all 1s ease-in-out;
  background-image: linear-gradient(rgba($cream, 0.7),
    rgba($cream, 0.7)),url("#{$path-img}/taylorlowsat.jpg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
}

.clicked{
  width: 70% !important;
  transition: all 1s ease-in-out;
}

.notClicked {
  width: 15% !important;
  transition: all 1s ease-in-out;
  h1 {
    color: transparent;
  }
  p {
    color: transparent;
  }
}

.hidden {
  display: none;
}
