.logo {
  position: absolute;
  top: 170px;
  left: 40%;
  height: 125px;
  transition: all 1s ease-in-out;
  &:hover {
    cursor: pointer;
  }
}

.logoMoved {
  left: 3% !important;
  transition: all 1s ease-in-out;
}
