.logo {
  position: absolute;
  top: 170px;
  left: 40%;
  height: 125px;
  transition: all 1s ease-in-out;
  &:hover {
    cursor: pointer;
  }
}

.logoMoved {
  left: 3% !important;
  transition: all 1s ease-in-out;
}

.logoMoved2 {
  left: 17% !important;
  height: 50vh;
  transition: all 1s ease-in-out;
  opacity: .6;
  z-index: 0;
}

.logonav {
  height: 60px;
}

.plusIcon {
  height: 60px;
  position: relative;
  left: 70%;
  top: -20px;
}

.scroll {
  position: relative;
  top: 15vh;
  left: 60%;
  height: 40px;
  opacity: .5;
  &:hover {
    cursor: pointer;
  }
}
