// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }


@font-face {
  font-family: 'cinzel';
  src: url('#{$path-font}cinzel/Cinzel-Regular.otf');
}

@font-face {
  font-family: 'josefin';
  src: url('#{$path-font}Josefin_Sans/JosefinSans-Regular.ttf');
}

html, body {
  padding: 0px;
  margin: 0px;
  font-family: 'josefin';
}

body::-webkit-scrollbar {
  display: none;
}

div::-webkit-scrollbar {
  display: none;
}


/**
 * Basic styles for links
 */
a {
  text-decoration: none;
  color: $gold;
  transition: all 300ms ease-in-out;
}
